// Your custom SCSS should be written here...
* {
	  -webkit-transition: all 0.5s ease;
	 				transition: all 0.5s ease;
}

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
 {
  height: 100%;
  overflow: hidden;
}

/* ---- Containers, Content and Push Divs ---- */
.maar-container,
.side-pusher,
.maar-content {
	height: 100%;
}

.maar-container {
	position: relative;
}

.maar-content {
	overflow-y: auto;
	position: relative;
  margin: 0;
  width: inherit;
  margin-left: $sidebar-width;
  &::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(150, 150, 150, 0.3);
		background-clip: content-box;
		border-radius: 10px;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		&:hover {
			background-color: rgba(150, 150, 150, 0.7);
		}
	}
	&::-webkit-scrollbar-track {
		background: none;
	}
  @media only screen and (max-width: $mobile-width) {
  	margin-left: 0;
  }
}

.maar-content-inner {
	position: relative;
}

/* ---- Font Styles ---- */
h1, h2, h3, h4 {
	text-transform: uppercase;
  color: $primary-color;
  font-size: $large;
}

/* ---- Top Member Navigation ---- */

#mem-nav {
	float: left;
	i {
		color: $white;
	}
	li {
		margin: 0;
	} 
	@media only screen and (max-width: $mobile-width) {
		display: none;
	}
} // mem nav

.search-field {
	input {
		padding-right: 30px;
		float: right;
		margin-top: $gutter-in-px;
		width: 100px;
		-webkit-transition: width 1s 0.1s;
						transition: width 1s 0.1s;
		@media only screen and (max-width: $mobile-width){
			width: 100%;
			float: center;
			padding-right: 0;
		}
		&:focus {
			width: 200px;
			@media only screen and (max-width: $mobile-width) {
				width: 100%;
			}
		}
	} // search-field input
	i {
		position: absolute;
		top: 10px;
		right: 3px;
		color: $grey !important;
		@media only screen and (max-width: $mobile-width) {
			right: 20px;
		}
	}
} // search-field

.mem-tools {
	background: $grey;
	display: inline-block;
	height: 46px;
	@media only screen and (max-width: $mobile-width) {

	}
}

.mem-icon {
	background: $grey;
	padding: $gutter-in-px 4px 8px;
	float: left;
	-webkit-transition: background 0.5s;
					transition: background 0.5s;
	@media only screen and (max-width: $mobile-width) {
		margin-bottom: 0;
		padding: 4px;
		float: none;
		background: transparent;
	}
	&:hover {
		background: $grey-drk;
		-webkit-transition: background 0.5s;
						transition: background 0.5s;
	}
}

// Member navigation tooltip styles
#mem-nav .ttip {
	display:inline-block;
	&:before {
		top: 50px;
		border-bottom: 9px solid $grey-drk !important;
	}
	&:after {
		top: 50px;
		z-index: 500;
		min-width: 55px;
		background: $grey-drk;
		border: none;
		border-radius: none;
		text-align: center;
	}
} 

/* ----------- Mobile Header ---------- */
.mobile-header {
	display: none;
	@media only screen and (max-width: $mobile-width) {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		display: block;
		z-index: 999;
		padding: 7px;
		width: 100%;
		height: 60px;
		background-color: $white;
		@include div-shadow(false, 0, 2px, 10px);
		.logo-area-mobile {
			margin: 0 auto;
			width: 81px; 
			float: center;
		}
	} 
}

.open-panel {
	float: left;
	i {
		margin-top: 7px;
		font-size: $xlarge;
		color: $primary-color;
	}
}

.open-panel-right {
	float: right;
}

/* ----------- Main Body Styles ----------- */
.main-body {
	margin-top: 30px;
	float: left;
	@media only screen and (max-width: $mobile-width) {
		margin-top: 80px;
		float: none;
	}
}

/* ----------- Notification Alert ----------- */
.notify {
	background: $red;
	p {
		margin-bottom: 0;
		color: $white;
		font-size: $large;
		text-transform: uppercase;
		text-align: center;
	}
}

/* ----------- Market Data ----------- */
.mrk-data {
	background: $primary-color;
}

/* ----------- Footer Styles ------------ */
.footer {
	float: left;
	margin-top: 40px;
	color: $footer-color;
	p {
		font-size: 10px;
	}
	a {
		color: $footer-color;
		text-decoration: underline;
		&:hover {
			color: $footer-hover-color;
		}
		i {
			font-size: $xlarge;
			padding-top: 3px;
		}
	}
	@media only screen and (max-width: $mobile-width) {
		display: none;
	}
}

.social {
	font-size: $med !important;
	margin: 0 auto;
	width: 100%;
	border: 1px solid $footer-color;
	@media only screen and (max-width: $mobile-width) {
		padding: 6px;
		float: left;
		width: 25%;
		color: $white;
		border: none;
	}
	&:hover {
		border-color: transparent;
		color: $white;
	}
}
.icon-facebook:hover {
	background-color: #3c599f;
}

.icon-twitter:hover {
	background-color: #1ac4ff;
}

.icon-play:hover {
	background-color: #d92622;
}

.icon-linkedin:hover {
	background-color: #2079b5;
}

.icon-flickr:hover {
	background-color: #ff0084;
}

.icon-pinterest:hover {
	background-color: #d73532;
}