// Your custom SCSS should be written here...
* {
	@include maar-transition;
}

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
					box-sizing: border-box;
}

::selection {
	color: $white;
	background: $grey-lgtr;
}
::-moz-selection {
	color: $white;
	background: $grey-lgtr;
}

html,
body,
 {
  height: 100%;
  overflow: hidden;
}

/* ---- Containers, Content and Push Divs ---- */
.maar-container,
.side-pusher,
.maar-content {
	height: 100%;
}

.maar-container {
	position: relative;
}

.maar-content {
	overflow-y: auto;
	position: relative;
  margin: 0;
  width: inherit;
  margin-left: ($sidebar-width);
  @include maar-scrollbar;
  @media only screen and (max-width: $tablet-landscape-width) {
  	margin-left: 0;
  }
}

.maar-content-inner {
	position: relative;
	overflow: visible;
	margin-top: 73px;
}

/* ---- Font Styles ---- */
h1, h2, h3, h4 {
	text-transform: uppercase;
  color: $primary-color;
  @media only screen and (max-width: $tablet-device-width) {
  	font-size: $large;
  }
}

h1 {
	@include font-size($xxxlarge);
	@media only screen and (max-width: $tablet-device-width) { @include font-size($xlarge) }
}
h2 {
	@include font-size($xxlarge);
	@media only screen and (max-width: $tablet-device-width) { @include font-size($large) }
}
h3 {
	@include font-size($xlarge);
	@media only screen and (max-width: $tablet-device-width) { @include font-size($larger) }
}
h4 {
	@include font-size($larger);
	@media only screen and (max-width: $tablet-device-width) { @include font-size($large) }
}

a { font-weight: $font-weight-bold; }

i { font-weight: $font-weight-regular !important; }

span {
	@include font-size($norm);
}

/* ---- Top Member Navigation ---- */

#mem-nav {
	float: left;
	position: fixed;
	z-index: 300;
	padding-bottom: 30px;
	padding-right: 0;
	//in order to create a fade effect for the member navigation as the page scrolls
	@include maar-gradient(rgba(247,247,247,0.99), 60%, rgba(247,247,247,0), 85%);
	i {
		color: $tru-white;
	}
	li {
		margin: 0;
	} 
	@media only screen and (max-width: $tablet-landscape-width) {
		display: none;
	}
	@media only screen and (max-width: $desktop-width) {
		right: 0;
	}
} // mem nav

.search-field {
	input {
		padding-right: 30px;
		float: right;
		margin-top: $gutter-in-px;
		width: 100px;
		@include maar-transition(1s, width);
		@media only screen and (max-width: $tablet-landscape-width){
			width: 100%;
			float: center;
			padding-right: 0;
		}
		&:focus {
			width: 200px;
			@media only screen and (max-width: $tablet-landscape-width) {
				width: 100%;
			}
		}
	} // search-field input
	i {
		position: absolute;
		top: 10px;
		right: 3px;
		color: $grey !important;
		@media only screen and (max-width: $tablet-landscape-width) {
			right: 20px;
		}
	}
} // search-field


//search results page styling
.search-results {
	li {
		padding: $gutter-in-px;
		&:hover {
			border-bottom: 5px solid $secondary-color;
			a { color: $secondary-color; }
		}
	}
	p {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	a { color: $tru-white; }
}

.search-results-num {
	font-weight: $font-weight-bold;
}

.search-results-page {
	font-weight: $font-weight-bold;
	a { color: $primary-color; }
}

.mem-tools {
	background: $grey;
	display: inline-block;
	height: 46px;
	.ttip {
		padding: 10px 2px;
		height: 100%;
		&:hover {
			background: $grey-drk;
		}
	}
}

.mem-tools-login {
	background: $secondary-color;
	height: inherit;
	padding: 10px 12px;
	p {
		float: left;
		color: $tru-white;
	}
	&:hover { background: $secondary-hover-color; }
	.mem-icon {
		&:hover { background: none; }

	}
}

.mem-icon {
	//padding: $gutter-in-px 4px 8px;
	float: left;
	//height: inherit;
	font-weight: $font-weight-regular;
	@media only screen and (max-width: $tablet-landscape-width) {
		margin-bottom: 0;
		padding: 4px;
		float: none;
		background: transparent;
	}
	&:hover {
		@include maar-transition(0.5s, background);
	}
}

// Member navigation tooltip styles
#mem-nav .ttip {
	display:inline-block;
	&:before {
		top: 50px;
		border-bottom: 9px solid $grey-drk !important;
	}
	&:after {
		top: 50px;
		z-index: 500;
		min-width: 10px;
		background: $grey-drk;
		border: none;
		border-radius: none;
		text-align: center;
		font-size: 10px;
	}
} 

/* ----------- Mobile Header ---------- */
.mobile-header {
	display: none;
	@media only screen and (max-width: $tablet-landscape-width) {
		position: fixed !important;
		top: 0;
		right: 0;
		left: 0;
		display: block;
		z-index: 999;
		padding: 7px;
		width: 100%;
		height: 60px;
		background-color: $tru-white;
		@include div-shadow(false, 0, 2px, 10px);
		.logo-area-mobile {
			margin: 0 auto;
			width: 81px; 
			float: center;
		}
	} 
}

.open-panel {
	float: left;
	i {
		margin-top: 7px;
		font-size: $xlarge;
		color: $primary-color;
	}
}

.open-panel-right {
	float: right;
}

/* ----------- Main Body Styles ----------- */
.main-body {
	margin-top: 20px !important;
	float: left;
	@media only screen and (max-width: $tablet-landscape-width) {
		float: none;
		margin-bottom: 60px;
	}
}

.row {
	position: relative;
}

.field .input.textarea { height: 215px; }

.picker { background: $tru-white; }

.drawer { @include div-shadow(false,0,0,0); }

.ttip:after { z-index: 1000; }

.alignleft { float: left; overflow: auto; }
.alignright { float: right; overflow: auto; }

.lead {
	border-bottom: 1px solid $grey-lgtst;
	margin-bottom: ($gutter-in-px*2);
}

/* ----- Button Styles ----- */
.btn > a,
.btn input,
.btn button,
.skiplink > a, 
.skiplink input, 
.skiplink button { color: $white !important; }

.btn.default > a,
.btn.default input,
.btn button,
.skiplink.default > a,
.skiplink.default input,
.skiplink.default button { color: $grey-lgt !important; }

/* ----- Pill Tab Styles ----- */
.tab-nav > li {
	&:hover {
		background-color: transparent;
	}
	a {
		&:hover {
			background-color: $primary-color;
			color: $white;
			text-shadow: 0 1px 1px $primary-hover-color;
		}
	}
}

.tab-nav > li.active > a { 
	background-color: $tru-white; 
	&:hover {
		background: $primary-hover-color;
	}
}

.tabs.pill .tab-nav > li {
	a {
		@media only screen and (max-width: $tablet-device-width) {
			border-right: none;
			border-bottom: 1px solid $grey-lgtst;
		}
	}
	@media only screen and (max-width: $tablet-device-width) {
		float: left;
		margin-left: 0;
		width: 100%;
	}
}

/* ----------- Dropdown Select Style ----------- */
.navbar.select-dropdown {
	background: transparent;
	margin-bottom: 0;
	ul li {
		text-align: left;
		&:hover {
			& > a { background-color: $primary-hover-color; }
			.dropdown {
				top: 70%;
				border:none;
				border-radius: $table-border-radius;
				ul li > a {
					border: none;
				}
			}
		}
	}
	ul li > a {
		text-shadow: none;
		font-weight: $font-weight-regular;
		line-height: $threehalf-line-height;
		height: auto;
	}
}

/* ----------- Modal Box ------------- */
.modal.active > .content {
	min-height: inherit;
	max-height: inherit;
	overflow: visible;
}

.modal > .content > .close {
	top: -30px;
	right: -10px;
	color: $white;
	background: $grey-drkr;
	font-size: $large;
	&:hover {
		color: $grey-lgtr;
		background: black;
	}
}

/* ----------- General Div Style ----------- */
.gen-div {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-top: $gutter-in-px;
	border-bottom: 5px solid $gen-div-border;
	background-color: $tru-white;
	img { width: 100%; }
	&:hover {
		border-bottom: 5px solid $primary-color;
	}
}

.gen-div-header {
	overflow: auto;
	padding: 0 $gutter-in-px;
	h2,h3,h4 {
		float: left;
		padding-bottom: 0;
	}
	a {
		color: $primary-color;
		font-weight: $font-weight-regular;
		&:hover {
			color: $primary-hover-color;
		}
	}
}

.gen-div-inner {
	float: left;
	padding: $gutter-in-px;
	width: 100%;
	height: 100%;
}

//only for homepage as it gives a set height for the content
.gen-home-div-inner {
	float: left;
	padding: $gutter-in-px;
	width: 100%;
	height: 180px;
	overflow: hidden;
	h2 { float: left; }
	@media only screen and (max-width: $tablet-device-width) {
		height: inherit;
	}
}

.news-headline {
	padding-right: $gutter-in-px;
	font-weight: $font-weight-regular;
	text-transform: uppercase;
	@include font-size($med);
}

/* ----------- Slide Notification ----------- */
.slide-notify {
    position: fixed;
    z-index: 900;
    bottom: 20px;
    right: 0;
    overflow: hidden;
    width: 200px;
    height: 50px;
    text-align: center;
    @media only screen and (max-width: $tablet-device-width) {
    	display: none;
    }
}

#slide {
    position: absolute;
    right: -200px;
    width: 100%;
    height: 100%;
    background: $primary-color;
    padding: $gutter-in-px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 4s;
    animation: slide 0.5s forwards;
    animation-delay: 4s;
    text-shadow: 0 0 10px $primary-hover-color; 
    a {
    	text-transform: uppercase;
    	font-weight: $font-weight-regular;
    	@include font-size($large);
    	color: $white;
    }
    &:hover {
    	background: $secondary-color;
    	text-shadow: 0 0 10px $secondary-hover-color; 
    }
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}


/* ----------- Market Data ----------- */

.mrkt-data {
	margin-top: 30px !important;
	margin-bottom: $gutter-in-px;
	@include maar-gradient($blu, 30%, $blu-lgt, 100%);
	//border-bottom: 5px solid $gen-div-border;
	h1 {
		margin-bottom: 0;
		padding-bottom: 0;
		color: $tru-white;
	}
	p {
		color: $tru-white;
		line-height: 1.3em;
	}
	@media only screen and (max-width: $tablet-device-width) {
		margin-top: 80px;
		padding: 0;
		border-bottom: none;
		h1 { margin-left: $gutter-in-px; }
	}
	@media only screen and (max-width: $tablet-landscape-width) {
		margin-top: 80px;
	}
	.ttip:before {
		min-width: inherit;
		border-bottom: none;
		border-left: none;
		border-right: none;
	}
	.ttip:after {
		min-width: inherit;
		top: 100%;
		margin-top: -10px;
		left: 0;
		right: 0;
		background: $primary-hover-color;
		border: none;
		text-transform: none;
		font-size: $small;

	}
	li {
		margin: 0;
		padding: 2% 1%;
		height: 120px;
		text-transform: uppercase;
		text-align: center;
		@media only screen and (min-width: $tablet-device-width) {
			width: 12.5% !important;
		}
		@media only screen and (min-width: $tablet-device-width) and (max-width: 1060px) {
			p { font-size: 10px; }
		}
		@media only screen and (max-width: $tablet-device-width) {
			margin-top: 0;
			margin-bottom: 0;
			height: 60px;
			padding: 3% 5% !important;
			.market-icon { float:right; }
			&:hover { padding: 2% 5% !important; }
			p { float: left; color: $white; }
		}
		&:hover {
			background: $primary-hover-color;
			padding: 1%;
			p {
				color: $white;
			}
			@media only screen and (min-width: $tablet-device-width) {
				.market-icon { bottom: 30px; }
			}
		}
	}
}

.mrkt-data .four {
	margin: ($gutter-in-px*2) 0;
	&.ttip:after {
		top: 130%;
	}
	p {
		text-transform: uppercase;
		color: $white;
		text-align: center;
	}
}

.market-icon {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: 0 auto;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	&.large {
		position: relative;
		background-size: 80px 80px;
		width: 80px;
		height: 80px;
		bottom: 0;
	}
	@media only screen and (max-width: $tablet-device-width) {
		position: relative;
		bottom: 0;
	}
}


.infosparks-icon { @include mrkt-data-img('infosparks'); }

.lmu-icon { @include mrkt-data-img('lmu'); }

.mmi-icon { @include mrkt-data-img('mmi'); }

.hso-icon { @include mrkt-data-img('hso'); }

.fss-icon { @include mrkt-data-img('fss'); }

.skinny-icon { @include mrkt-data-img('skinny'); }

.ann-icon { @include mrkt-data-img('ann'); }

.wma-icon { @include mrkt-data-img('wma'); }

/* ----------- Notification Alert ----------- */
.notify {
	background: $blu-lgt;
	padding: $gutter-in-px;
	p {
		margin-bottom: 0;
		color: $white;
		font-size: $large;
		text-transform: uppercase;
		text-align: center;
		text-shadow: 0 0 10px $primary-hover-color;
	}
}

/* ----------- Welcome ----------- 
.welcome {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: $gutter-in-px;
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	text-align: center;
	p {
		margin: 0;
		color: $primary-color;
		@include font-size($large);
		line-height: $threehalf-line-height;
	}
} */

/* ----------- News, Videos, Calendar ----------- */
.archive {
	float: left;
	padding: $gutter-in-px 0 0 $gutter-in-px;
	color: $grey-lgtr;
	&:hover {
		color: $grey-lgt;
	}
	@media only screen and (max-width: $tablet-device-width) {
		padding: ($gutter-in-px/2);
	}
}

/* ----------- Blog Page Style ------------ */
.blog {
	img { @include grayscale }
	a { color: $grey-lgtr; }
	h1,h2,h3,h4 {
		color: $grey-lgtr;
		padding-bottom: 0;
		padding-top: 0;
	}
	&:hover {
		img { @include grayscale-color }
		a { color: $primary-color; }
		h1,h2,h3,h4 { color: $primary-color; }
	}
}

.blog-author {
	font-style: oblique;
	@include font-size($med);
}

.blog .flexslider {
	width: auto;
	max-height: 100%;
	@include div-shadow(false, 0, 0, 0);
}

.blog #modal-gallery .flex-control-nav { display: inline-block; }

/* ----------- Newsroom Styles ------------ */
@media only screen and (min-width: $tablet-device-width) {
	.newsroom.row {
		height: 450px;
		overflow: hidden;
		section.four.columns { height: 97%; }
	}
}

.flexslider.newsroom {
	height: 200px;
	.slides {
		img {
			height: 200px;
			width: auto;
			max-width: 1000px !important;
		}
		li { max-width: 100%; }
	}
}

/* ----------- Team Page Styles ------------ */
.team {
	padding-bottom: ($gutter-in-px*2);
	img { @include grayscale; }
	&:after {
		content: "";
	}
	&:hover {
		border-bottom: 5px solid $secondary-color;
		h2 { color: $secondary-color }
		a { color: $secondary-color }
		img { @include grayscale-color }
		&:after {
			position: relative;
			bottom: -20px;
			left: -$gutter-in-px;
			margin: -36px 6px 0 $gutter-in-px;
			padding: 0 $gutter-in-px;
			float: left;
			color: $secondary-color;
			text-transform: uppercase;
			font-size: 11px;
			line-height: 1.5em;
			@media only screen and (max-width: $tablet-landscape-width) {
				bottom: -10px;
				margin: -36px 0 0 $gutter-in-px;
				padding: $gutter-in-px;
			}
		}
	}
}

.team-executive {
	&:hover {
		&:after {
			content: "Executive";
		}
	}
}

.team-pubaffairs {
	&:hover {
		&:after {
			content: "Public Affairs";
		}
	}
}

.team-account {
	&:hover {
		&:after {
			content: "Accounting & Operations";
		}
	}
}

.team-broker {
	&:hover {
		&:after {
			content: "Broker Services";
		}
	}
}

.team-edu {
	&:hover {
		&:after {
			content: "Education and Professional Development";
		}
	}
}

.team-marketing {
	&:hover {
		&:after {
			content: "Marketing & Communications";
		}
	}
}

.team-memberserv {
	&:hover {
		&:after {
			content: "Member Services";
		}
	}
}

.team-membership {
	&:hover {
		&:after {
			content: "Membership";
		}
	}
}

.team-research {
	&:hover {
		&:after {
			content: "Research";
		}
	}
}

/* ----------- Video Page Styles ------------ */
.video-overlay {
	position: absolute;
	z-index: 500;
	top: 0;
	bottom: 0;
	left: 0;
	background: rgba(231,231,231,0.8);
	width: 100%;
	text-align: center;
	&:hover {
		background: rgba(0,0,0,0.8);
		h2 { color: $white; }
		i { color: $white; }
	}
	h2 { margin-top: 15%; }
	i {	font-size: $xlarge; }
}

/* ----------- Footer Styles ------------ */
.footer {
	float: left;
	margin-top: 40px;
	margin-bottom: 60px;
	color: $footer-color;
	p {
		font-size: 10px;
	}
	a {
		color: $footer-color;
		text-decoration: underline;
		&:hover {
			color: $footer-hover-color;
		}
		i {
			font-size: $xlarge;
			padding-top: 3px;
		}
	}
	@media only screen and (max-width: $tablet-landscape-width) {
		display: none;
	}
}

.social {
	font-size: $med !important;
	font-weight: $font-weight-regular;
	margin: 0 auto;
	width: 100%;
	border: 1px solid $footer-color;
	@media only screen and (max-width: $tablet-landscape-width) {
		padding: 6px;
		float: left;
		width: 25%;
		color: $tru-white;
		border: none;
	}
	&:hover {
		border-color: transparent;
		color: $white;
	}
}
.icon-facebook:hover {
	background-color: #3c599f;
}

.icon-twitter:hover {
	background-color: #1ac4ff;
}

.icon-play:hover {
	background-color: #d92622;
}

.icon-linkedin:hover {
	background-color: #2079b5;
}

.icon-flickr:hover {
	background-color: #ff0084;
}

.icon-pinterest:hover {
	background-color: #d73532;
}