// Your custom SCSS should be written here...
* {
	  -webkit-transition: all 0.5s ease;
	 				transition: all 0.5s ease;
}

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
 {
  height: 100%;
  overflow: hidden;
}

.row {
	position: relative;
}

/* ---- Containers, Content and Push Divs ---- */
.maar-container,
.side-pusher,
.maar-content {
	height: 100%;
}

.maar-container {
	position: relative;
}

.maar-content {
	overflow-y: auto;
	position: relative;
  margin: 0;
  width: inherit;
  margin-left: ($sidebar-width);
  &::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(150, 150, 150, 0.3);
		background-clip: content-box;
		border-radius: 10px;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		&:hover {
			background-color: rgba(150, 150, 150, 0.7);
		}
	}
	&::-webkit-scrollbar-track {
		background: none;
	}
  @media only screen and (max-width: $mobile-width) {
  	margin-left: 0;
  }
}

.maar-content-inner {
	position: relative;
}

/* ---- Font Styles ---- */
h1, h2, h3, h4 {
	text-transform: uppercase;
  color: $primary-color;
  font-size: $large;
}

a {
	font-weight: $font-weight-bold;
}

/* ---- Top Member Navigation ---- */

#mem-nav {
	float: left;
	i {
		color: $white;
	}
	li {
		margin: 0;
	} 
	@media only screen and (max-width: $mobile-width) {
		display: none;
	}
} // mem nav

.search-field {
	input {
		padding-right: 30px;
		float: right;
		margin-top: $gutter-in-px;
		width: 100px;
		-webkit-transition: width 1s 0.1s;
						transition: width 1s 0.1s;
		@media only screen and (max-width: $mobile-width){
			width: 100%;
			float: center;
			padding-right: 0;
		}
		&:focus {
			width: 200px;
			@media only screen and (max-width: $mobile-width) {
				width: 100%;
			}
		}
	} // search-field input
	i {
		position: absolute;
		top: 10px;
		right: 3px;
		color: $grey !important;
		@media only screen and (max-width: $mobile-width) {
			right: 20px;
		}
	}
} // search-field

.mem-tools {
	background: $grey;
	display: inline-block;
	height: 46px;
	@media only screen and (max-width: $mobile-width) {

	}
}

.mem-icon {
	background: $grey;
	padding: $gutter-in-px 4px 8px;
	float: left;
	font-weight: $font-weight-regular;
	@media only screen and (max-width: $mobile-width) {
		margin-bottom: 0;
		padding: 4px;
		float: none;
		background: transparent;
	}
	&:hover {
		background: $grey-drk;
		-webkit-transition: background 0.5s;
						transition: background 0.5s;
	}
}

// Member navigation tooltip styles
#mem-nav .ttip {
	display:inline-block;
	&:before {
		top: 50px;
		border-bottom: 9px solid $grey-drk !important;
	}
	&:after {
		top: 50px;
		z-index: 500;
		min-width: 10px;
		background: $grey-drk;
		border: none;
		border-radius: none;
		text-align: center;
		font-size: 10px;
	}
} 

/* ----------- Mobile Header ---------- */
.mobile-header {
	display: none;
	@media only screen and (max-width: $mobile-width) {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		display: block;
		z-index: 999;
		padding: 7px;
		width: 100%;
		height: 60px;
		background-color: $white;
		@include div-shadow(false, 0, 2px, 10px);
		.logo-area-mobile {
			margin: 0 auto;
			width: 81px; 
			float: center;
		}
	} 
}

.open-panel {
	float: left;
	i {
		margin-top: 7px;
		font-size: $xlarge;
		color: $primary-color;
	}
}

.open-panel-right {
	float: right;
}

/* ----------- Main Body Styles ----------- */
.main-body {
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	@media only screen and (max-width: $mobile-width) {
		float: none;
	}
}

/* ----------- Notification Alert ----------- */
.notify {
	background: $red;
	p {
		margin-bottom: 0;
		color: $white;
		font-size: $large;
		text-transform: uppercase;
		text-align: center;
	}
}

/* ----------- Market Data ----------- */

.mrkt-data {
	margin-bottom: 12px;
	background: #fff;
	border-bottom: 5px solid #e7e7e7;
	@media only screen and (max-width: $tablet-device-width) {
		margin-top: 80px;
		padding: 0;
		background: transparent;
		border-bottom: none;
	}
	@media only screen and (max-width: $mobile-width) {
		margin-top: 80px;
	}
	li {
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 2% 1%;
		height: 120px;
		overflow: hidden;
		text-transform: uppercase;
		text-align: center;
		@media only screen and (max-width: $tablet-device-width) {
			margin-top: 0;
			margin-bottom: 0;
			height: 60px;
			padding: 3% 5% !important;
			background: $primary-color;
			.infosparks-icon { background-image: url('../img/assets/icons/infosparks-white.png'); float: right; }
			.faststats-icon { background-image: url('../img/assets/icons/faststats-white.png'); float: right; }
			.skinny-icon { background-image: url('../img/assets/icons/skinny-white.png'); float: right; }
			&:hover { padding: 2% 5% !important; }
			h2 { float: left; color: $white; }
		}

		&:hover {
			background: $primary-color;
			padding: 1%;
			h2 {
				color: $white;
			}
			.infosparks-icon { background-image: url('../img/assets/icons/infosparks-white.png'); }
			.faststats-icon { background-image: url('../img/assets/icons/faststats-white.png'); }
			.skinny-icon { background-image: url('../img/assets/icons/skinny-white.png'); }
		}
		&:first-child {
			border-left: none;
		}
	}
}
.market-icon {
	margin: 0 auto;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
}

.infosparks-icon { background-image: url('../img/assets/icons/infosparks.png'); }

.faststats-icon { background-image: url('../img/assets/icons/faststats.png'); }

.skinny-icon { background-image: url('../img/assets/icons/skinny.png'); }

/* ----------- Welcome ----------- */
.welcome {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 12px;
	border-top: 1px solid $secondary-color;
	border-bottom: 1px solid $secondary-color;
	text-align: center;
	p {
		margin: 0;
		color: $secondary-color;
		@include font-size($large);
		line-height: $threehalf-line-height;
	}
}

/* ----------- News, Videos, Calendar ----------- */
.home-div {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-top: 12px;
	padding-bottom: 24px;
	border-bottom: 5px solid #e7e7e7;
	background-color: #fff;
	h2 {
		float: left;
	}
	&:hover {
		border-bottom: 5px solid $primary-color;
	}
}

.home-div-header {
	overflow: auto;
	padding: 6px 12px;
	h2 {
		float: left;
	}
	a {
		color: $primary-color;
		font-weight: $font-weight-regular;
		&:hover {
			color: $primary-hover-color;
		}
	}
}

.home-div-inner {
	float: left;
	padding: 12px;
	width: 100%;
	height: 160px;
	overflow: hidden;
	@media only screen and (max-width: $tablet-device-width) {
		height: inherit;
	}
}

.archive {
	float: left;
	padding: 6px 0 0 10px;
	color: $grey-lgtr;
	&:hover {
		color: $grey-lgt;
	}
}

/* ----------- Footer Styles ------------ */
.footer {
	float: left;
	margin-top: 30px;
	margin-bottom: 60px;
	color: $footer-color;
	p {
		font-size: 10px;
	}
	a {
		color: $footer-color;
		text-decoration: underline;
		&:hover {
			color: $footer-hover-color;
		}
		i {
			font-size: $xlarge;
			padding-top: 3px;
		}
	}
	@media only screen and (max-width: $mobile-width) {
		display: none;
	}
}

.social {
	font-size: $med !important;
	font-weight: $font-weight-regular;
	margin: 0 auto;
	width: 100%;
	border: 1px solid $footer-color;
	@media only screen and (max-width: $mobile-width) {
		padding: 6px;
		float: left;
		width: 25%;
		color: $white;
		border: none;
	}
	&:hover {
		border-color: transparent;
		color: $white;
	}
}
.icon-facebook:hover {
	background-color: #3c599f;
}

.icon-twitter:hover {
	background-color: #1ac4ff;
}

.icon-play:hover {
	background-color: #d92622;
}

.icon-linkedin:hover {
	background-color: #2079b5;
}

.icon-flickr:hover {
	background-color: #ff0084;
}

.icon-pinterest:hover {
	background-color: #d73532;
}