// Your custom SCSS should be written here...
* {
	@include maar-transition;
}

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
					box-sizing: border-box;
}

::selection {
	color: $white;
	background: $grey-lgtr;
}
::-moz-selection {
	color: $white;
	background: $grey-lgtr;
}

html,
body,
 {
  height: 100%;
  overflow: hidden;
}

.row {
	position: relative;
}

/* ---- Containers, Content and Push Divs ---- */
.maar-container,
.side-pusher,
.maar-content {
	height: 100%;
}

.maar-container {
	position: relative;
}

.maar-content {
	overflow-y: auto;
	position: relative;
  margin: 0;
  width: inherit;
  margin-left: ($sidebar-width);
  @include maar-scrollbar;
  @media only screen and (max-width: $mobile-width) {
  	margin-left: 0;
  }
}

.maar-content-inner {
	position: relative;
	margin-top: 60px;
}

/* ---- Font Styles ---- */
h1, h2, h3, h4 {
	text-transform: uppercase;
  color: $primary-color;
  @media only screen and (max-width: $tablet-device-width) {
  	font-size: $large;
  }
}

h1 { @include font-size($xxlarge) }
h2 { @include font-size($larger) }
h3 { @include font-size($large) }
h4 { @include font-size($med) }

a { font-weight: $font-weight-bold; }

/* ---- Top Member Navigation ---- */

#mem-nav {
	float: left;
	position: fixed;
	z-index: 300;
	padding-bottom: 30px;
	//in order to create a fade effect for the member navigation as the page scrolls
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 60%, rgba(247,247,247,0) 85%); /*Safari 5.1-6*/
	background: 	-o-linear-gradient(bottom, rgba(247,247,247,1) 60%, rgba(247,247,247,0) 85%); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom, rgba(247,247,247,1) 60%, rgba(247,247,247,0) 85%); /* Firefox */
	background: 	linear-gradient(to bottom, rgba(247,247,247,1) 60%, rgba(247,247,247,0) 85%); /*Standard*/
	i {
		color: $tru-white;
	}
	li {
		margin: 0;
	} 
	@media only screen and (max-width: $mobile-width) {
		display: none;
	}
	@media only screen and (max-width: $desktop-width) {
		right: 0;
	}
} // mem nav

.search-field {
	input {
		padding-right: 30px;
		float: right;
		margin-top: $gutter-in-px;
		width: 100px;
		@include maar-transition(1s, width);
		@media only screen and (max-width: $mobile-width){
			width: 100%;
			float: center;
			padding-right: 0;
		}
		&:focus {
			width: 200px;
			@media only screen and (max-width: $mobile-width) {
				width: 100%;
			}
		}
	} // search-field input
	i {
		position: absolute;
		top: 10px;
		right: 3px;
		color: $grey !important;
		@media only screen and (max-width: $mobile-width) {
			right: 20px;
		}
	}
} // search-field


//search results page styling
.search-results {
	li {
		padding: $gutter-in-px;
		&:hover {
			border-bottom: 5px solid $secondary-color;
			a { color: $secondary-color; }
		}
	}
	p {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	a { color: $tru-white; }
}

.search-results-num {
	font-weight: $font-weight-bold;
}

.search-results-page {
	font-weight: $font-weight-bold;
	a { color: $primary-color; }
}

.mem-tools {
	background: $grey;
	display: inline-block;
	height: 46px;
}

.mem-icon {
	background: $grey;
	padding: $gutter-in-px 4px 8px;
	float: left;
	font-weight: $font-weight-regular;
	@media only screen and (max-width: $mobile-width) {
		margin-bottom: 0;
		padding: 4px;
		float: none;
		background: transparent;
	}
	&:hover {
		background: $grey-drk;
		@include maar-transition(0.5s, background);
	}
}

// Member navigation tooltip styles
#mem-nav .ttip {
	display:inline-block;
	&:before {
		top: 50px;
		border-bottom: 9px solid $grey-drk !important;
	}
	&:after {
		top: 50px;
		z-index: 500;
		min-width: 10px;
		background: $grey-drk;
		border: none;
		border-radius: none;
		text-align: center;
		font-size: 10px;
	}
} 

/* ----------- Mobile Header ---------- */
.mobile-header {
	display: none;
	@media only screen and (max-width: $mobile-width) {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		display: block;
		z-index: 999;
		padding: 7px;
		width: 100%;
		height: 60px;
		background-color: $tru-white;
		@include div-shadow(false, 0, 2px, 10px);
		.logo-area-mobile {
			margin: 0 auto;
			width: 81px; 
			float: center;
		}
	} 
}

.open-panel {
	float: left;
	i {
		margin-top: 7px;
		font-size: $xlarge;
		color: $primary-color;
	}
}

.open-panel-right {
	float: right;
}

/* ----------- Main Body Styles ----------- */
.main-body {
	margin-top: 20px !important;
	float: left;
	@media only screen and (max-width: $mobile-width) {
		float: none;
	}
}

.field .input.textarea { height: 215px; }

/* ----- Pill Tab Styles ----- */
.tab-nav > li {
	&:hover {
		background-color: transparent;
	}
	a {
		&:hover {
			background-color: $primary-color;
			color: $white;
			text-shadow: 0 1px 1px $primary-hover-color;
		}
	}
}

.tab-nav > li.active > a { 
	background-color: $tru-white; 
	&:hover {
		background: $primary-hover-color;
	}
}

.tabs.pill .tab-nav > li {
	a {
		@media only screen and (max-width: $tablet-device-width) {
			border-right: none;
			border-bottom: 1px solid $grey-lgtst;
		}
	}
	@media only screen and (max-width: $tablet-device-width) {
		float: left;
		margin-left: 0;
		width: 100%;
	}
}


/* ----------- General Div Style ----------- */
.gen-div {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-top: $gutter-in-px;
	padding-bottom: 24px;
	border-bottom: 5px solid $gen-div-border;
	background-color: $tru-white;
	img { width: 100%; }
	h2 {
		float: left;
	}
	&:hover {
		border-bottom: 5px solid $primary-color;
	}
}

.gen-div-header {
	overflow: auto;
	padding: 6px $gutter-in-px;
	h2 {
		float: left;
	}
	a {
		color: $primary-color;
		font-weight: $font-weight-regular;
		&:hover {
			color: $primary-hover-color;
		}
	}
}

.gen-div-inner {
	float: left;
	padding: $gutter-in-px;
	width: 100%;
	height: 100%;
}

//only for homepage as it gives a set height for the content
.gen-home-div-inner {
	float: left;
	padding: $gutter-in-px;
	width: 100%;
	height: 160px;
	overflow: hidden;
	@media only screen and (max-width: $tablet-device-width) {
		height: inherit;
	}
}

.news-headline {
	padding-right: $gutter-in-px;
	font-weight: $font-weight-regular;
	text-transform: uppercase;
	@include font-size($med);
}

/* ----------- Market Data ----------- */

.mrkt-data {
	margin-top: 30px !important;
	margin-bottom: $gutter-in-px;
	background: $tru-white;
	border-bottom: 5px solid $gen-div-border;
	h1 {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	@media only screen and (max-width: $tablet-device-width) {
		margin-top: 80px;
		padding: 0;
		background: transparent;
		border-bottom: none;
	}
	@media only screen and (max-width: $mobile-width) {
		margin-top: 80px;
	}
	li {
		margin-bottom: $gutter-in-px;
		padding: 2% 1%;
		height: 120px;
		overflow: hidden;
		text-transform: uppercase;
		text-align: center;
		@media only screen and (max-width: $tablet-device-width) {
			margin-top: 0;
			margin-bottom: 0;
			height: 60px;
			padding: 3% 5% !important;
			background: $primary-color;
			.infosparks-icon { background-image: url('../img/assets/icons/infosparks-white.png'); float: right; }
			.faststats-icon { background-image: url('../img/assets/icons/faststats-white.png'); float: right; }
			.skinny-icon { background-image: url('../img/assets/icons/skinny-white.png'); float: right; }
			&:hover { padding: 2% 5% !important; }
			h3 { float: left; color: $white; }
		}

		&:hover {
			background: $primary-color;
			padding: 1%;
			h3 {
				color: $white;
			}
			.infosparks-icon { background-image: url('../img/assets/icons/infosparks-white.png'); }
			.faststats-icon { background-image: url('../img/assets/icons/faststats-white.png'); }
			.skinny-icon { background-image: url('../img/assets/icons/skinny-white.png'); }
		}
		&:first-child {
			border-left: none;
		}
	}
}
.market-icon {
	margin: 0 auto;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
}

.infosparks-icon { background-image: url('../img/assets/icons/infosparks.png'); }

.faststats-icon { background-image: url('../img/assets/icons/faststats.png'); }

.skinny-icon { background-image: url('../img/assets/icons/skinny.png'); }

/* ----------- Notification Alert ----------- */
.notify {
	background: $secondary-color;
	p {
		margin-bottom: 0;
		color: $white;
		font-size: $large;
		text-transform: uppercase;
		text-align: center;
	}
}

/* ----------- Welcome ----------- */
.welcome {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: $gutter-in-px;
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	text-align: center;
	p {
		margin: 0;
		color: $primary-color;
		@include font-size($large);
		line-height: $threehalf-line-height;
	}
}

/* ----------- News, Videos, Calendar ----------- */
.archive {
	float: left;
	padding: $gutter-in-px 0 0 $gutter-in-px;
	color: $grey-lgtr;
	&:hover {
		color: $grey-lgt;
	}
}

/* ----------- Team Page Styles ------------ */
.team {
	img { @include grayscale; }
	&:after {
		content: "";
	}
	&:hover {
		border-bottom: 5px solid $secondary-color;
		h2 { color: $secondary-color }
		a { color: $secondary-color }
		img { @include grayscale-color }
		&:after {
			position: relative;
			bottom: -20px;
			left: -$gutter-in-px;
			margin: -36px 6px 0 $gutter-in-px;
			padding: 0 $gutter-in-px;
			float: left;
			color: $secondary-color;
			text-transform: uppercase;
			line-height: 1.5em;
			@media only screen and (max-width: $mobile-width) {
				bottom: -10px;
				margin: -36px 0 0 $gutter-in-px;
				padding: $gutter-in-px;
			}
		}
	}
}

.team-executive {
	&:hover {
		&:after {
			content: "Executive";
		}
	}
}

.team-pubaffairs {
	&:hover {
		&:after {
			content: "Public Affairs";
		}
	}
}

.team-account {
	&:hover {
		&:after {
			content: "Accounting & Operations";
		}
	}
}

.team-broker {
	&:hover {
		&:after {
			content: "Broker Services";
		}
	}
}

.team-edu {
	&:hover {
		&:after {
			content: "Education and Professional Development";
		}
	}
}

.team-marketing {
	&:hover {
		&:after {
			content: "Marketing & Communications";
		}
	}
}

.team-memberserv {
	&:hover {
		&:after {
			content: "Member Services";
		}
	}
}

.team-membership {
	&:hover {
		&:after {
			content: "Membership";
		}
	}
}

.team-research {
	&:hover {
		&:after {
			content: "Research";
		}
	}
}


/* ----------- Footer Styles ------------ */
.footer {
	float: left;
	margin-top: 40px;
	margin-bottom: 60px;
	color: $footer-color;
	p {
		font-size: 10px;
	}
	a {
		color: $footer-color;
		text-decoration: underline;
		&:hover {
			color: $footer-hover-color;
		}
		i {
			font-size: $xlarge;
			padding-top: 3px;
		}
	}
	@media only screen and (max-width: $mobile-width) {
		display: none;
	}
}

.social {
	font-size: $med !important;
	font-weight: $font-weight-regular;
	margin: 0 auto;
	width: 100%;
	border: 1px solid $footer-color;
	@media only screen and (max-width: $mobile-width) {
		padding: 6px;
		float: left;
		width: 25%;
		color: $tru-white;
		border: none;
	}
	&:hover {
		border-color: transparent;
		color: $white;
	}
}
.icon-facebook:hover {
	background-color: #3c599f;
}

.icon-twitter:hover {
	background-color: #1ac4ff;
}

.icon-play:hover {
	background-color: #d92622;
}

.icon-linkedin:hover {
	background-color: #2079b5;
}

.icon-flickr:hover {
	background-color: #ff0084;
}

.icon-pinterest:hover {
	background-color: #d73532;
}