// Your custom SCSS should be written here...

html,
body,
 {
  height: 100%;
}

.row {
  position: absolute;
  width: inherit;
  left: 200px;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
  color: $blu;
  font-size: $large;
}

