/* ---- Environment Set-up ---- */
.maar-container,
.side-pusher,
.side-content {
  height: 100%;
}

/* --------------- Navigation Code --------------- */
nav.side-menu {
	width: $sidebar-width; 
	position: absolute;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
	background: $primary-color;
}

div.open-panel {
  display: none;
}

.side-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.side-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: $font-weight-light;
	font-size: $large;
}

.side-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: $white;
	text-transform: uppercase;
	text-shadow: 0 0 1px $primary-hover-color;
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.side-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.side-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: $white;
}

/* ---- Mobile Sidebar Drawer ---- */
@media only screen and (max-width: 55em) {

div.open-panel { display: inline; }

div.open-panel i {
	font-size: 40px;
	color: $primary-color;
	padding: 20px 15px;
}

.side-menu {
	visibility: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.side-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.side-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.side-menu-open .side-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.side-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.side-menu-open .side-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Effect: Push*/
.side-effect.side-menu-open .side-pusher {
	-webkit-transform: translate3d($sidebar-width, 0, 0);
	transform: translate3d($sidebar-width, 0, 0);
}

.side-effect.side-menu {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.side-effect.side-menu-open .side-effect.side-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.side-effect-3.side-menu::after { display: none; }

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .side-pusher,
.no-js .side-pusher { padding-left: $sidebar-width; }

}