/* --------------- Navigation Code --------------- */
div.open-panel {
  display: none;
}

.side-menu {
	width: $sidebar-width; 
	position: absolute;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background: $navbar-color;
	-webkit-box-shadow: inset -10px 0 10px $navbar-hover-color;
		 -moz-box-shadow: inset -10px 0 10px $navbar-hover-color;
					box-shadow: inset -10px 0 10px $navbar-hover-color;
}

.side-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: $font-weight-light;
	font-size: $large;
}

.side-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side-menu ul li {
	padding-bottom: 0;
}

.side-menu ul li a {
	display: block;
	padding: 0.5em 1em;
	outline: none;
	color: $white;
	text-transform: uppercase;
	text-shadow: 0 0 1px $navbar-hover-color;
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.side-menu ul li a:hover {
	background: $navbar-hover-color;
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: $white;
}

// Area for MAAR Logo
.logo-area {
	background: $white;
	z-index:100;
	margin-bottom: 40px;
	&:after {
		position: absolute;
		width: $sidebar-width;
		height: 0;
		content: " ";
		border-top: 40px solid $white;
		border-left: 120px solid transparent;
		border-right: 120px solid transparent;
		box-shadow: inset 0px 30px 10px $grey-drkr;
	}
	img {
		max-width: 100%;
		padding: 20px 30px 0 30px;
	}
}

/* ---- Drawer Styles --- */
.drawer {
	background: $nav-drawer-color;
	-webkit-box-shadow: inset -10px 0 10px $nav-drawer-hover-color;
		 -moz-box-shadow: inset -10px 0 10px $nav-drawer-hover-color;
					box-shadow: inset -10px 0 10px $nav-drawer-hover-color;
}

.drawer ul li a:hover {
	background: $nav-drawer-hover-color;
}

/* ---- Popular Links ---- */
.pop-links {
	margin-top: 50px;
	background: $primary-color;
	h1 {
		font-size: $med;
		text-transform: uppercase;
		color: $white;
		text-align: center;
	}
	ul li {
		a {
		text-transform: none;
		padding: 4px 1em;
		color: $white;
			&:hover {
				background: $primary-hover-color;
			}
			&:last-child {
				padding-bottom: 10px;
			}
		}
	}
}

/* ---- Mobile Sidebar Drawer ---- */
@media only screen and (max-width: 55em) {

div.open-panel { display: inline; }

div.open-panel i {
	font-size: 40px;
	color: $primary-color;
	padding: 20px 15px;
}

.side-menu {
	visibility: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.side-pusher {
	position: relative;
	left: 0;
	z-index: 9999;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.side-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.side-menu-open .side-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.side-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
					transition: opacity 0.5s;
}

.side-menu-open .side-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Effect: Push*/
.side-effect.side-menu-open .side-pusher {
	-webkit-transform: translate3d($sidebar-width, 0, 0);
	transform: translate3d($sidebar-width, 0, 0);
}

.side-effect.side-menu {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.side-effect.side-menu-open .side-effect.side-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.side-effect-3.side-menu::after { display: none; }

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .side-pusher,
.no-js .side-pusher { padding-left: $sidebar-width; }

}