/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
	margin: 0; 
	padding: 0;
	max-height: 320px;
}

.flexslider .slides > li {
	display: none; 
	padding: 0;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
	width: 100%; 
	display: block;
}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {
	content: "\0020"; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
}

html[xmlns] .slides {display: block;}

* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0;
	margin-bottom: 10px;
	border: none; 
	position: relative; 
	overflow: hidden;
	border: none; 
	@include div-shadow(false, 0, 5px, 20px);
}
.flex-viewport {
	-webkit-transition: all 1s ease; 
	   -moz-transition: all 1s ease; 
		 	 -o-transition: all 1s ease; 
					transition: all 1s ease; 
}
.loading .flex-viewport { max-height: 300px; }

.flexslider .slides { zoom: 1; }

.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
	*height: 0;
	height: 0;
}

.flex-direction-nav a  {
	display: block;
	font-size: $xlarge;
	width: 30px;
	height: 30px;
	margin: 0;
	position: absolute;
	bottom: 0; 
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: $white;
	text-shadow: 0 0 3px $grey;
	-webkit-transition: all .3s ease;
		 -moz-transition: all .3s ease;
					transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
	left: -50px;
	bottom: 6px;
}

.flex-direction-nav .flex-next {
	right: -50px;
	bottom: 6px;
	text-align: right;
}

.flexslider:hover .flex-prev {
	opacity: 0.7;
	left: 35%;
}

.flexslider:hover .flex-next {
	opacity: 0.7;
	right: 35%;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover { opacity: 1; }

.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter:alpha(opacity=0);
	cursor: default;
}

/* Pause/Play */
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: $white;
}

.flex-pauseplay a:before  {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}

.flex-pauseplay a:hover  { opacity: 1; }

.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {
	width: 100%; 
	position: absolute; 
	bottom: 0; 
	text-align: center;
}

.flex-control-nav li {
	margin: 0 6px; 
	display: inline-block; 
	oom: 1; 
	*display: inline;
}

.flex-control-paging li a {
	width: 11px; 
	height: 11px; 
	display: block; 
	background: transparent;
	border: 2px $white solid;
	cursor: pointer; 
	opacity: 0.7;
	text-indent: -9999px; 
	-webkit-border-radius: 20px; 
		 -moz-border-radius: 20px; 
			 -o-border-radius: 20px; 
					border-radius: 20px; 
	-webkit-box-shadow: inset 0 0 3px $grey, 0 0 3px $grey; 
		 -moz-box-shadow: inset 0 0 3px $grey, 0 0 3px $grey; 
			 -o-box-shadow: inset 0 0 3px $grey, 0 0 3px $grey; 
					box-shadow: inset 0 0 3px $grey, 0 0 3px $grey;
	-webkit-transition: opacity 0.5s;
					transition: opacity 0.5s;
}

.flex-control-paging li a:hover {
	opacity: 1;
}

.flex-control-paging li a.flex-active {
	background: $white;
	border: 2px transparent solid;
	cursor: default;
	-webkit-box-shadow: 0 0 3px $grey; 
		 -moz-box-shadow: 0 0 3px $grey; 
			 -o-box-shadow: 0 0 3px $grey; 
					box-shadow: 0 0 3px $grey; 
}

.flex-control-thumbs {
	margin: 5px 0 0; 
	position: static; 
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%; 
	float: left; 
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%; 
	display: block; 
	opacity: 0.7; 
	cursor: pointer;
}

.flex-control-thumbs img:hover {opacity: 1;}

.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}

@media only screen and (max-width: 55em) {
  .flex-direction-nav .flex-prev,
  .flexslider:hover .flex-prev {
  	opacity: 1;
  	left: 10px;
  }

  .flex-direction-nav .flex-next,
  .flexslider:hover .flex-next {
  	opacity: 1;
  	right: 10px;
  }

}