.tablepress tfoot th,
.tablepress thead th {
	background-color: inherit;
	font-size: 10px;
	line-height: 14px;
}

.tablepress thead th:first-child {
	font-size: inherit;
}

.dataTables_info {
	display: none;
}

.tablepress-table-name-id-r-dues,
.tablepress-table-name-id-mem-dues {
	font-size: 16px;
}