// Welcome to Gumby 2.0 Settings.
// Happy Tinkering!

// Grid Settings
$row-max-width: 940px !default;

// 940px
$gutter-in-px: 12px !default;

// 20px
$cols: 12 !default;

// 12 Column Default Grid
$hybrid: 16 !default;

// 16 Column Default Hybrid Grid

$sidebar-width: 240px;

// Responsiveness Settings
$min-device-width: 360px;

// iPhone Portrait
$tablet-device-width: 768px;

// iPad Portrait
$tablet-landscape-width: 55em;

// Screen changes to mobile width
$document-width: $row-max-width;

// Default Document
$desktop-width: 1232px;

// Screen starts responding
$max-device-width: 2880px;

// Max Document Size

// Spacing
$nav-distance: 0;

// Navigation distance from the top of the viewport

// Typography
$font-family: "Open Sans";
$font-style-italic: italic;
$icons: entypo;
$font-smoothing: antialiased;

// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;

$header-font-weight: $font-weight-thin;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-bold;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Vertical Rhythm Spacing
$base-line-height: ms(1) !default;

$threehalf-line-height: ms(1.5);

$rhythm-spacing: 0.168;
$rhythm-height: 0.711;

// Modular Scale Settings
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale
$ratio: fourth();

// Ratio for Modular Scale
$base-font-size: 13px !default;
$importantNum: 78px !default;
$base-size: $base-font-size $importantNum;

// Gumby Default Scale Values: 16, 18, 26, 30, 42, 48, 68, 78, 110, 126;

// Sizing
$xsmall: ms(-2);
$small: ms(-1);
$norm: ms(0);

// $base-font-size (12px == default)
$med: ms(1);
$large: ms(2);
$larger: ms(3);
$xlarge: ms(4);
$xxlarge: ms(5);
$xxxlarge: ms(6);
$reallybig: ms(8);
$tremendous: ms(9);
$absurd: ms(10);

// User Interface Colors
$black: black;
$grey: #414042;
$grey-lgt: lighten($grey, 15%);
$grey-lgtr: lighten($grey-lgt, 15%);
$grey-lgtst: #e7e7e7;
$grey-drk: darken($grey, 10%);
$grey-drkr: darken($grey-drk, 5%);
$white: #f7f7f7;
$tru-white: white;

$blu: #334374;
$blu-drk: #072554;
$blu-lgt: lighten($blu, 25%);

$red: #e82e0a;
$red-drk: darken($red, 10%);

$primary-color: $blu;
$secondary-color: $red;
$default-color: $grey-lgtst;
$info-color: $grey-drk;
$danger-color: #ca3838;
$warning-color: #f6b83f;
$success-color: #58c026;

$primary-hover-color: $blu-drk;
$secondary-hover-color: $red-drk;
$default-hover-color: $primary-color;
$info-hover-color: $grey-drkr;
$danger-hover-color: #f14f4f;
$warning-hover-color: #fdd27f;
$success-hover-color: #66d92f;

$global-bg-color: $white;

$horizontal-rule-color: $grey !default;

// Typography Colors
$header-font-color: $primary-color !default;
$header-link-color: $primary-color !default;
$header-link-hover-color: $primary-hover-color !default;
$body-font-color: $grey-drk !default;
$body-link-color: $primary-color !default;
$body-link-hover-color: $primary-hover-color !default;

// Borders
$button-radius: 4px !default;
$metro-radius: 0 !default;
$bigger-radius: 8px;

$gen-div-border: $grey-lgtst;

// Buttons
// Font Sizing
$xlarge-button-font-size: $larger;
$large-button-font-size: $large;
$medium-button-font-size: $norm;
$small-button-font-size: $small;

// Padding
$default-button-padding: $med;

// Height
$default-button-height: 36px;

// Form Elements
$form-text-input-stroke: $grey-lgtr;
$form-text-input-background: $tru-white;
$form-text-input-placeholder-color: $default-color;
$form-text-input-color: $grey;

$form-select-stroke: $primary-color;
$form-select-background: $tru-white;
$form-select-color: $grey;

// Tabs
$tab-height: 42px;

// Navigation
$navcontain-height: 80px;

// makes space at the top of a document for when using a fixed nav
$navbar-color: $grey;
$navbar-hover-color: $grey-drk;
$navbar-link-color: $white;
$nav-drawer-color: $grey-drk;
$nav-drawer-hover-color: $grey-drkr;

$poplinks-color: $primary-color;
$poplinks-hover-color: $primary-hover-color;

// Drawers & Modals
$modal-overlay-color: rgba(0, 0, 0, 0.8);
$modal-window-color: $white;
$drawer-background-color: $tru-white;
$drawer-inner-shadow-x-offset: 0;
$drawer-inner-shadow-y-offset: 2px;
$drawer-inner-shadow-blur: 3px;
$drawer-inner-shadow-color: $grey-lgtst;

// Tables
$table-bgcolor: white;
$table-thead-bgcolor: $primary-color;
$table-row-first-cell-font-weight: bold;
$table-border-size: 1px;
$table-border-style: solid;
$table-border-color: #e5e5e5;
$table-cell-border-size: 1px;
$table-cell-border-color: #e5e5e5;
$table-cell-border-style: solid;

// .rounded
$table-border-radius: 4px;

// .striped
$table-stripe-bgcolor: $grey-lgt;

// Tooltips
$tt-min-width: 130px;
$tt-bgcolor: $primary-color;
$tt-position: bottom;

// position: top / bottom / left / right
$tt-align: left;

// text and caret alignment: left / right
$tt-pretty: no;

// yes = pretty / no = flat

// Floats
$default-float: left;
$switch-float: right;

//Footer
$footer-color: $grey-lgtr;
$footer-hover-color: $grey-lgt;

// ---------- MIX-INS ------------
//Scrollbar
@mixin maar-scrollbar {
    &::-webkit-scrollbar {
        width: $gutter-in-px;
        height: $gutter-in-px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(150, 150, 150, 0.3);
        background-clip: content-box;
        border-radius: 10px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        &:hover {
            background-color: rgba(150, 150, 150, 0.7);
        }
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
}

//Shadows
$box-shadow-color: rgba(0, 0, 0, 0.2);

@mixin div-shadow($inset: false, $left: -10px, $top: 0, $blur: 10px) {
    @if $inset {
        -webkit-box-shadow: inset $left $top $blur $box-shadow-color;
        -moz-box-shadow: inset $left $top $blur $box-shadow-color;
        box-shadow: inset $left $top $blur $box-shadow-color;
    }
    @else {
        -webkit-box-shadow: $left $top $blur $box-shadow-color;
        -moz-box-shadow: $left $top $blur $box-shadow-color;
        box-shadow: $left $top $blur $box-shadow-color;
    }
}

//Transitions
@mixin maar-transition($time: 0.3s, $type: all, $ease: ease-out) {
    -webkit-transition: $type $time $ease;
    -moz-transition: $type $time $ease;
    -o-transition: $type $time $ease;
    transition: $type $time $ease;
}

//Grayscale
@mixin grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin grayscale-color {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

//Gradient
@mixin maar-gradient($color1, $position1, $color2, $position2) {
    background: -webkit-linear-gradient(top, $color1 $position1, $color2 $position2);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom, $color1 $position1, $color2 $position2);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom, $color1 $position1, $color2 $position2);
    /* Firefox */
    background: linear-gradient(to bottom, $color1 $position1, $color2 $position2);
    /*Standard*/
}

//Icon image scaling
@mixin mrkt-data-img($img-location) {
    background-image: url("../img/assets/icons/#{$img-location}-white.png");
    background-image: none\9;
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/assets/icons/#{$img-location}-white.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$img-location}', sizingMethod='scale')";
}